# Build artifacts
*/target
**/__pycache__
**/Cargo.lock
target
release-archives
scripting/output/src/generated/*.rs

# Deployment files
prepare-release.sh
docs/icons/macos.icns

# User files
images/*
!images/
!images/sample.png
user_scripts/*.toml
!user_scripts/.default.toml
palettes

# Config
bacon.toml
.cargo

# Notes
notes

# Experiments
profiles/src/rational_maps/quad_rat_per_4_1_experiments.rs

# Backups
**/*.bak
